.modal {
    display: grid;
    /* grid-template-rows:1fr 3fr; */
}


.modal >div {
    display: grid;
    grid-template-columns: 30% 30% 30%;
}

.modal button {
    /* justify-self: end; */
    grid-column:3;
    align-self:end;
    width:30px;
    height:30px;
}


.modal >img {
    
}