.modal {
    display: grid;
}


.modal >div {
    display: grid;
    grid-template-rows: 200px 300px 200px;
    grid-template-columns: 30% 30% 30%;

}

.modal button { 
    grid-row:1;
    align-self: end;
    grid-column-start: 3;
    width:30px;
    height: 30px;
}


.modal img {
    grid-row:2;
    grid-column: 2;
}